<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Green Moss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Green Moss</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-container">
    <ion-card>
      <img src="https://media.istockphoto.com/id/1141319825/vector/circular-trees-and-roots.jpg?s=612x612&w=0&k=20&c=YJHy53u44j9YYHmV9pHKR94PGWX3pSXvLTBLCIObAxw=" alt="Plant Banner" />
      <ion-card-header>
        <ion-card-title>Welcome to Green Moss Plant Shop</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Discover a variety of plants to beautify your home and garden.</p>
        <ion-button expand="full" routerLink="/plants">Browse Plants</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>